/autom4te.cache
/ChangeLog
/configure
/config.log
/config.status
/stamp-h1
/config.h
/libtool
/doc/doxygen/html
Makefile
Makefile.in
doxygen.cfg
doxygen.dummy
doxygen_sqlite3.db
*~
*#*
.deps
.libs
*.o
*.lo
*.a
*.la
